.authors {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.label {
  color: var(--ifm-color-content-secondary);
  font-size: 1rem;
  line-height: 1;
  transform: translateY(1px);
}

.avatars {
  display: flex;
  align-items: center;
}

.avatarLink {
  position: relative;
  margin-left: -8px;
}

.avatarLink:first-child {
  margin-left: 0;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid var(--ifm-background-color);
  display: block;
}
