.invite-user-button {
  composes: add-book-button from "../books/books.module.css";
}

.invite-user-modal {
  composes: add-book-modal from "../books/books.module.css";
}

.invite-user-modal-heading {
  composes: add-book-modal-heading from "../books/books.module.css";
}

.invite-user-modal-dismiss {
  composes: add-book-modal-dismiss from "../books/books.module.css";
}

.invite-user-form {
  composes: form from "../../app/login/login.module.css";
}

.invite-user-form input[type="email"] {
  width: 300px;
}

.invite-user-form input[type="checkbox"] {
  display: inline-block;
  margin-right: 2rem;
}

.invite-user-form fieldset {
  margin-top: 2rem;
}
