*

!/package.json
!/yarn.lock
!/.yarnrc.yml
!/.yarn
!/fs
/fs/node_modules
/fs/index.js
/fs/index.d.ts
/fs/tsconfig.tsbuildinfo
!/epub
/epub/__fixtures__/
/epub/node_modules
/epub/index.js
/epub/index.d.ts
/epub/tsconfig.tsbuildinfo
!/path
/path/node_modules
/path/index.js
/path/index.cjs
/path/index.d.ts
!/audiobook
/audiobook/src/__fixtures__/
/audiobook/node_modules
/audiobook/src/**/*.js
/audiobook/src/**/*.cjs
/audiobook/src/**/*.d.ts
!/web
!/docker-scripts
!/scripts
/web/.next
/web/node_modules
/web/tsbuild
/web/work-dist
/web/whisper-builds
/web/src/__fixtures__/
/web/.env.local
/web/assets
/web/image-cache
/web/uploads
/web/work-dist
**/storyteller.db*
__tests__
!/config/tsup
/config/tsup/node_modules
!/config/eslint
/config/eslint/node_modules

!/ghost-story
/ghost-story/node_modules
/ghost-story/dist
!/config/eslint
/config/eslint/node_modules


/docker

**/whisper.cpp/**