*

!/package.json
!/yarn.lock
!/.yarnrc.yml
!/.yarn
!/fs
/fs/index.js
/fs/index.d.ts
/fs/tsconfig.tsbuildinfo
!/epub
/epub/index.js
/epub/index.d.ts
/epub/tsconfig.tsbuildinfo
!/web
!/docker-scripts
!/scripts
/web/.next
/web/node_modules
/web/tsbuild
/web/work-dist

/docker
