.DS_Store
__pycache__
.git
.direnv
.devenv

/docs
/web
/epub
/fs
/path
/audiobook
/config/*
!/config/eslint
/align

/dev-data

/readme-assets
/docker-scripts

node_modules

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.eslintcache
tsconfig.tsbuildinfo

.expo
dist

/mobile/modules/*/android/build
/mobile/modules/*/ios/.build

/mobile/ios
/mobile/android

/dev-data
storyteller.db
storyteller.db*
.env.local

/mobile/.env

public
