/public/assets
tsbuild

work-dist

.next

node_modules

/assets
/cache
/dev-data

mobile/ios
mobile/android

/epub/index.js
/epub/index.cjs
/epub/index.d.ts
/epub/node.js
/epub/node.cjs
/epub/node.d.ts
/epub/index.test.d.ts

/fs/index.js
/fs/index.cjs
/fs/index.d.ts

/audiobook/dist/

/path/index.js
/path/index.cjs
/path/index.d.ts

/web/whisper-builds
