# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Shane Moore
	email = shane@shanemoore.me
	signingkey = 0xE01BC73472A04BB0
[core]
	editor = nvim
[commit]
	gpgsign = true
[push]
	default = current
[pull]
	rebase = true
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[alias]
	graph = log --graph --oneline --color
