.DS_Store
__pycache__
/assets/
/dict/
/indices/
/cache/
/whisper-builds/

/public/

.env.local
storyteller.db*
node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.eslintcache
tsconfig.tsbuildinfo

tsbuild

# direnv/devenv config and cache
local.envrc
.direnv
.devenv
/.devenv-initialized

# An option to put data not in the root repo directory
/dev-data/
/data/
