.DS_Store
__pycache__
/assets/
/dict/
/indices/
/cache/
/whisper/

/public/

.env.local
storyteller.db*
node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.eslintcache
tsconfig.tsbuildinfo

tsbuild
