# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Shane Moore
	email = shane@shanemoore.me
	signingkey = 4584A665E353F493EA0B954AEB42CBD9C18D2B82
[core]
	editor = code --wait
[commit]
	gpgsign = true
[push]
	default = current
[pull]
	rebase = true
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
