.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 1rem;
  padding-right: 3rem;
}
