.form {
  display: flex;
  flex-direction: column;
}

.form button {
  align-self: flex-end;
  margin: 2rem 0.5rem 0 0;
  padding: 0.75rem 1rem;
}

.input {
  composes: input from "../books/bookeditform.module.css";
}

.label {
  composes: label from "../books/bookeditform.module.css";
}

.error {
  color: var(--error-color);
  background-color: #a2063411;
  padding: 1rem;
  border-radius: var(--border-radius);
  border: thin solid var(--error-color);
}
