.container {
  composes: container from "../books/bookstatus.module.css";
}

.content {
  composes: content from "../books/bookstatus.module.css";
}

.actions {
  composes: actions from "../books/bookstatus.module.css";
}
