.settings-form {
  composes: form from "../../app/login/page.module.css";
  max-width: 700px;
  width: 80%;
  margin: 0 auto 80px;
}

.settings-form input,
.settings-form select {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: block;
  width: 100%;
}

.settings-form fieldset {
  margin: 2rem;
  border: none;
}

.settings-form legend {
  padding: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.settings-form label {
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .settings-form {
    width: 100%;
    margin: 0;
  }

  .settings-form fieldset {
    margin: 0;
    margin-right: 2rem;
  }

  .settings-form input {
    min-width: calc(100% - 6rem);
  }
}
