.main {
  composes: main from "../login/page.module.css";
}

.init-form {
  composes: form from "../../components/login/loginform.module.css";
}

.input {
  composes: input from "../../components/login/loginform.module.css";
}
