.icon {
  height: 2rem;
}

.separator {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 0px;
  width: 100%;
  border-top-width: 1px;
  border-color: hsl(204 20% 88%);
}

:is(.dark .separator) {
  border-color: hsl(204 3% 28%);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

:is(.dark .menu) {
  border-color: hsl(204 3% 26%);
  background-color: hsl(204 3% 18%);
  color: hsl(204 20% 100%);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.25),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.menu-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  outline: none !important;
}

.delete {
  color: var(--error-color);
}

.menu-item > div,
.menu-item > svg {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem;
}

.menu-item[aria-disabled="true"] {
  opacity: 0.25;
}

.menu-item:not([aria-disabled="true"]):hover {
  background-color: #d9d9d9;
}

.menu-item:active {
  background-color: #606060;
}
