.container {
  width: 600px;
  min-height: 160px;
  background-color: #efeded;
  border-radius: var(--border-radius);
}

.button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  width: max-content;
}

.button:disabled {
  opacity: 0.75;
}

.button:hover:not(:disabled) {
  opacity: 0.9;
}

.button:active {
  background-color: var(--active-primary-color);
}

.add-button {
  composes: button;
  margin: calc(80px - 1.5rem) auto;
  display: block;
}

.form {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
}

.file-source-buttons {
  align-self: center;
}

.file-source-upload {
  composes: button;
  padding: 0.5rem 0.75rem;
  background-color: white;
  color: black;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.file-source-upload:hover:not(:disabled) {
  background-color: rgba(255, 255, 255, 0.6);
}

.file-source-server {
  composes: file-source-upload;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.selected-file-source {
  background-color: var(--primary-color);
  color: white;
}

.selected-file-source:hover:not(:disabled) {
  background-color: var(--primary-color);
  opacity: 1;
}

.fields {
  display: flex;
  justify-content: space-around;
  border: none;
  width: 100%;
}

.label {
  display: block;
  padding: 0.75rem 1rem;
  background-color: white;
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
}

.label:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.server-file-button {
  composes: button;
  composes: label;
  color: black;
  font-family: Inter;
  font-size: 1rem;
}

.submit {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 2rem;
  align-items: baseline;
}

.input {
  display: none;
}

.progress-container {
  flex-grow: 1;
}

.server-files-dialog {
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 200px;
  right: 200px;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: white;
}

.dialog-dismiss {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: none;
  background: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  .container {
    width: calc(100%);
  }

  .server-files-dialog {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
