.container {
  display: flex;
  width: 600px;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.book-title {
  font-weight: 500;
  margin: 0 0 0.5rem;
  padding-right: 3rem;
}

.download-wrapper,
.status {
  margin-top: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  width: 40px;
  flex-shrink: 0;
}
