.failed {
  color: var(--error-color);
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  cursor: help;
}

.help-icon {
  width: 1rem;
  height: 1rem;
}

.tooltip {
  background-color: white;
  width: 240px;
  padding: 1rem;
  border: thin solid #cdcdcd;
  border-radius: var(--border-radius);
}
